{% load static %}

<script src="{% static 'ecom/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'ecom/js/bootstrap.min.js' %}"></script>
<script src="{% static 'ecom/js/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'ecom/js/jquery-ui.min.js' %}"></script>
<script src="{% static 'ecom/js/jquery.slicknav.js' %}"></script>
<script src="{% static 'ecom/js/mixitup.min.js' %}"></script>
<script src="{% static 'ecom/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'ecom/js/main.js' %}"></script>