
{% extends 'ecom/base.html' %}
{% load static %}
{% block body %}
<body>

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="{% static 'ecom/img/breadcrumb.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Order History</h2>
                        <div class="breadcrumb__option">
                            <a href="{% url 'order_history' %}">Orders</a>
                            <span>Shopping Cart</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Shoping Cart Section Begin -->
    <section class="shoping-cart spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="shoping__cart__table">
                        <table>
                            <thead>
                                <tr>
                                    <th class="shoping__product">Products</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                             {% for order_item in object.products.all %}
                                <tr>
                                    <td class="shoping__cart__item">
                                        <img href="{{ obj.get_absolute_url }}" src="{% static 'ecom/img/cart/cart-1.jpg' %}" alt="">
                                        <h5>{{ order_item.product.name }}</h5>
                                    </td>
                                    <td class="shoping__cart__price">
                                        {{ order_item.product.price }}
                                    </td>
                                    <td class="shoping__cart__quantity">
                                        <div class="quantity">
                                             <small>{{order_item.quantity}}</small>
                                        </div>
                                    </td>
                                    <td class="shoping__cart__total">
                                        {{ order_item.get_final_amount }}
                                    </td>
                                </tr>
                            {% empty %}
                             <tr>
                                 <td><h2>  Your cart is empty </h2> </td>
                                 <td><a class="btn btn-outline-info" href="{% url 'shop' %}">Shop</a></td>
                                 <td></td>
                                 <td></td>
                                 <td></td>
                             </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="container">
<!--                        <a href="{% url 'shop' %}" class="primary-btn cart-btn">CONTINUE SHOPPING</a>-->
                        <a href="{% url 'shop' %}" class="btn btn-outline-info">CONTINUE SHOPPING</a>
                        <a href="{% url 'shop' %}" class="btn btn-outline-info">REPEAT ORDER</a>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="shoping__checkout">
                        <h5>Address Details</h5>
                        <ul>
                            <li>name :<span> <h6>{{ address.name }}</h6></span></li>
                            <li>address_1 :<span><h6>{{ address.address_1 }}</h6></span></li>
                            <li>address_2 :<span><h6>{{ address.address_2 }}</h6></span></li>
                            <li>mobile_number :<span><h6>{{ address.mobile_number }}</h6></span></li>
                            <li>zipcode :<span><h6>{{ address.zipcode }}</h6></span></li>
                            <li>city :<span><h6>{{ address.city }}</h6></span></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="shoping__checkout">
                        <h5>Order Details</h5>
                        <ul>
                            <li>Subtotal :<span> <h6>{{ object.get_total_amount }}</h6></span></li>
                            <li>Total :<span><h6>{{ object.get_total_amount }}</h6></span></li>
                            <li>Order Date :<span><h6>{{ trans_date }}</h6></span></li>
                            <li>Time :<span><h6>{{ transactions.trans_date }}</h6></span></li>
                            <li>Payment Method<span><h6>{{ transactions.payment_method }}</h6></span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Shoping Cart Section End -->

    <!-- Footer Section Begin -->

    <!-- Footer Section End -->

    <!-- Js Plugins -->



</body>

{% endblock body %}